body.light {
  --back-1: #f2f2f2;
  --back-2: #fff;
  --fore: #111517;
  --place: #c4c4c4;
}

body.dark {
  --back-1: #202c36;
  --back-2: #2b3844;
  --fore: #fff;
  --place: #fff;
}

@mixin text($font, $line: $font, $ls: normal) {
  font-size: $font;
  line-height: $line;
  letter-spacing: $ls;
}

@mixin wh($width: 0, $height: $width) {
  width: $width;
  height: $height;
}

/*
    PADDING
*/

@mixin pX($left: 0, $right: $left) {
  padding-left: $left;
  padding-right: $right;
}

@mixin pY($top: 0, $bottom: $top) {
  padding-top: $top;
  padding-bottom: $bottom;
}

/*
    MARGIN
*/

@mixin mX($left: 0, $right: $left) {
  margin-left: $left;
  margin-right: $right;
}

@mixin mY($top: 0, $bottom: $top) {
  margin-top: $top;
  margin-bottom: $bottom;
}

/*
    FLEX
*/

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexSpaceBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*
    GRID
*/
@mixin grid1R($gap: 0) {
  display: grid;
  grid-auto-flow: column;
  gap: $gap;
}
@mixin grid1C($gap: 0) {
  display: grid;
  grid-auto-flow: row;
  gap: $gap;
}
